<header>
  <div id="header-contents">
    <a href="talleres.html">
      <img src="img/logo.png" id="logo" alt="Escape 010101 logo" />
    </a>
    <nav>
      <div id="nav-mobile-icon">&#8546;</div>
      <ul id="nav-links">
        <li>
          <a href="talleres.html" 
            @@if (page === 'talleres') {
              class="selected"
            }>
            Talleres
          </a>
        </li>
        <li>
          <a href="conexion.html" 
            @@if (page === 'conexion') {
              class="selected"
            }>
            Conexión Virtual
          </a>
        </li>
        <!-- <li>
          <a href="convocatoria_02.html" 
            @@if (page === 'nueva_convocatoria') {
              class="selected"
            }>
            Convocatoria 2
          </a>
        </li> -->
        <!-- <li><a href="register.html">Juntar</a></li> -->
        <!-- <li><a href="about.html">About</a></li> -->
        <li>
          <a href="convocatoria_01.html" 
            @@if (page === 'collective') {
              class="selected"
            }>
            Convocatoria 1
          </a>
        </li>
        <li><a href="about.html"
          @@if (page === 'about') {
            class="selected"
          }>Acerca de Escape</a></li>

      </ul>
    </nav>
  </div>
</header>
