<header>
  <div id="header-contents">
    <a href="convocatoria_01.html">
      <img src="img/logo.png" id="logo" alt="Escape 010101" />
    </a>
    <nav>
      <div id="nav-mobile-icon">&#8546;</div>
      <ul id="nav-links">
        <li>
          <a href="convocatoria_01.html" 
            @@if (page === 'collective') {
              class="selected"
            }>
            Convocatoria 1
          </a>
        </li>
        <li><a href="team_visuales.html" @@if (page === 'team_visuales') { class="selected" }>Team visuales</a></li>
        <!-- <li><a href="register.html">Juntar</a></li> -->
        <!-- <li><a href="about.html">About</a></li> -->
        <li><a href="about.html"
          @@if (page === 'about') {
            class="selected"
          }>About</a></li>
      </ul>
    </nav>
  </div>
</header>
