
/* --- collective page --- */
#artists {
  display: flex;
  flex-wrap: wrap;
  max-width: 1092px;
  justify-content: center;
}

.artist-card {
  width: 140px;
  height: 140px;
  margin: .5rem;
  position: relative;
  overflow: hidden;
  background-color: rgba($color: #000000, $alpha: 0.5);
  padding: 10px;

  img {
    height: 98%;
    width: 98%;
    object-fit: cover;
    position: absolute;
    top: 1%;
    left: 1%;
    transition: .5s ease-out;
  }

  .artist-info {
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 0px;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
    box-sizing: border-box;

    h3 {
      margin-bottom: 2px;
    }
  }
}

.artist-card {
  background-color: rgba($color: #EEEEEE, $alpha: 0.2);
  height: 100%;
}

// pixelated effect
// .artist-photo {
//   img:first-child {
//     opacity: 1;
//     z-index: 2;
//     image-rendering: pixelated;
//   }
//   img:last-child {
//     opacity: 1;
//   }
// }

// .artist-photo:hover {
//   img:first-child {
//     opacity: 0;
//   }

//   img:last-child {
//     opacity: 1;
//   }
// }

main {
  justify-content: space-around;
  display: flex;
}

@media screen and (min-width: 720px) {
  .artist-card {

  width: 200px;
  height: 200px;
  }
}
/* --- end collective page --- */
