
/* --- collective page --- */
#artists {
  display: flex;
  flex-wrap: wrap;
  max-width: 1092px;
  justify-content: center;
}

.artist-card {
  width: 140px;
  height: 140px;
  margin: .5rem;
  position: relative;
  overflow: hidden;
  background-color: rgba($color: #EEEEEE, $alpha: 0.2);
  padding: 10px;

  img {
    height: 98%;
    width: 98%;
    object-fit: cover;
    position: absolute;
    top: 1%;
    left: 1%;
    transition: .5s ease-out;
  }

  .artist-info {
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 0px;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
    box-sizing: border-box;
    font-size: 0.9rem;

    h3 {
      margin-bottom: 2px;
    }
  }
}

main {
  justify-content: space-around;
  display: flex;
}


#tab-bar {
  // min-width: 768px;
  // max-width: 900px;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex: 2 1 5vh;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
  li {
    display: inline-block;
  }
  a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: rgba($color: #FFF, $alpha: .4);

    &.selected, &:hover {
      color: white;
    }
    &.selected {
      &:before {
        content: "> ";
      }
    }
  }
}

#videos {
  flex-direction: column;
  align-items: center;
  position: relative;
  
  h2 {
    font-size: 1.2rem;
    margin-bottom:2rem;
    text-align: center;
  }

  .video {
    //margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
  
    &:last-child {
      margin-bottom: 4rem;
    }
    iframe {
      width: 100%;
      height: 300px;
    }
  }


  .fake-video {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    img {
      width: 80%;
    }
  }
  
}

@media screen and (min-width: 720px) {
  .artist-card {
    width: 200px;
    height: 200px;
  }

  .artist-info {
    font-size: 1.2rem;
  }


  .tabs {
    min-width: 900px;
  }

    
  #videos {
    .video {
      margin: 2rem 0;
    }

    .fake-video, .video iframe {
      width:560px;
      height:315px;
    }

    .fake-video {
      display: block;
      width: auto;

      img {
        width: 100%;
      }
    }
  }
}
/* --- end collective page --- */
