
main#enter {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 2 1 100vh;

  #animation-container {
    position: relative;
  }
  canvas {
    position: absolute;
    top: 0;
  }
}

#enter-logo {
  max-width: 700px;
}
