#about  {
  max-width:900px;
  min-width: 768px;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  overflow: hidden;
  //border-top: 1px solid silver;
  //background-image: url('../img/LINES.png');
}
