@import "reset";

$blue: blue;

body {
  background-color: #000;
  color: #FFF;
  display: flex;
  flex-direction: column;
  font-family: 'Inconsolata', monospace;
}

a {
  color: #FFF;
}

header {
  border-bottom: 1px solid white;
  flex: 1;
}

footer {
  border-top: 1px solid white;
  flex: 1;
}

main {
  flex: 2 1 90vh;
  text-align: center;
}

.centered-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artist-card {
  width: 200px;
  height: 200px;
  background-size: cover;
  margin: 1rem;
  position: relative;
}

.artist-info {
  background-color: rgba($color: #000, $alpha: 0.6);
  text-transform: uppercase;
  font-size: 1rem;
  position: relative;
  bottom: -88%;
}
