@import "reset";
@import "detail";
@import "collective";

$blue: blue;

body {
  background-color: #000;
  background-image: url('../img/escape_bg2.png');
  background-position: top right;
  background-repeat: no-repeat;
  color: #FFF;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  &.no-bg {
    background-image: none;
  }
}

a {
  color: #FFF;
}

p {
  line-height: 1.5;
}

#header-contents {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-height: 80px;
}

header {
  position: relative;
  background-color: rgba( 0, 0, 0, .5);
}

// header::before {
//   content: "";
//   background-image: url('../img/escape_bg2.png');
//   background-size: contain;
//   background-repeat: no-repeat;
//   opacity: .8;
//   position: absolute;
//   top: 0px;
//   right: 0px;
//   bottom: 0px;
//   left: 0px;
// }

#logo {
  top: 5px;
  left: -10px;
  position: relative;
  width: 40%;
}

footer {
  padding: 2rem;
}

nav {
  margin: 0 4rem;
  font-size: 1.2rem;

  a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;

    &.selected, &:hover {
      text-decoration: underline;
    }
  }
}

footer {
  border-top: 1px solid white;
  flex: 1;
}

main {
  flex: 2 1 90vh;
  margin: 2rem 0rem;
}


#logo-container {
  width: 30%;
  max-width: 200px;
  height: 80px;
  img {
    object-fit: cover;
    width:100%;
    height: 100%;
  }
  
}

.flex--column {
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 768px) {
  .flex--row--at-md {
    flex-direction: row !important;
  }

  #logo {
    top: 5px;
    position: relative;
    width: 25%;
  }
}

.col--centered {
  justify-content: center;
}

.text--centered {
  text-align: center;
}


#enter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
