#vj-page {
  h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

.vj-photo {
  width: 100%;

  img {
    object-fit: cover;
    width: 100%;
  }
}

.photo-desc {
  padding: 1rem;

  .desc {
    padding: 1rem;
  }
}

#vj-header { 
  background: #000;
  padding: 2rem;
}

.insta {
  background: rgba(0, 0, 0, 0.5);
  margin: .3rem 0;
  background: rgba(255, 255, 255, 0.2);
  margin: .5rem 0;
  font-size: 1rem;
  padding: 2px 0;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  #vj-header { 
    padding: 2rem 1rem;
  }
  .vj-photo {
    width: 30%;
    padding: 1rem;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  .photo-desc {
    // figure {
    //   // flex-shrink: 1;
    // }
    .desc {
      width: 70%;
      background: #000;
      padding: 2rem;
    }
  }
}
