
// #vj-page {
//   flex-direction: column;
// }

// .vj-photo {
//   width: 100%;

//   img {
//     width: 100%;
//   }
// }
// .photo-desc {
//   // flex: 2 1 10vh;
// }

.vj-photo {
  width: 100%;

  img {
    object-fit: cover;
    width: 100%;
  }
}

.photo-desc {
  padding: 1rem;

  p {
    padding: 1rem;
  }
}

#vj-header { 
  background: #000;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  #vj-header { 
    padding: 2rem 1rem;
  }
  .vj-photo {
    width: 30%;
    padding: 1rem;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  .photo-desc {
    // figure {
    //   // flex-shrink: 1;
    // }
    p {
      width: 70%;
      background: #000;
      padding: 2rem;
    }
  }
}
